src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="getHotels" doc:id="5df39e5e-e803-4092-af9e-e9c2cf2ec0f7" >
		<db:select doc:name="Select" doc:id="de8cdd99-20ef-43b8-99c9-d46f3e9351fd" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from hotels]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="1efdb7f6-0b7e-4829-b42f-28be588dd6ec" message="Flow Ended"/>
	</flow>
	<flow name="postHotel" doc:id="85dce012-851b-4f93-9ab9-2db22125b7e1" >
		<ee:transform doc:name="Transform Message" doc:id="1c4190b0-be8c-4fe6-8780-d9b7902d0a6d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns hot http://www.bookmyhotel.com/Hotel/
---
{
hotelName: payload.body.hot#PostHotel.Hotel.HotelName,
rating: payload.body.hot#PostHotel.Hotel.rating,
address: payload.body.hot#PostHotel.Hotel.address,
rooms: payload.body.hot#PostHotel.Hotel.rooms,
paymentType: payload.body.hot#PostHotel.Hotel.paymentType,
amenities: payload.body.hot#PostHotel.Hotel.amenities,
food: payload.body.hot#PostHotel.Hotel.food
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="f8babfee-98c8-426d-808e-b445dfe271ac" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO hotels 
(hotelName, rating, address, rooms, paymentTypes, amenities, food)
VALUES (:hotelName,:rating,:address,:rooms,:paymentType,:amenities,:food);
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	hotelName: payload.hotelName,
	rating: payload.rating,
	address: payload.address,
	rooms: payload.rooms,
	paymentType: payload.paymentType,
	amenities: payload.amenities,
	food: payload.food
}]]]></db:input-parameters>
		</db:insert>
	</flow>
	<flow name="getHotelsById" doc:id="bb184f49-9d3f-4900-ac9b-7f63a9ff7ade" >
		<ee:transform doc:name="Transform Message" doc:id="6843117d-1172-4ea9-bdf1-ff65b962befc" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="hotelId" ><![CDATA[%dw 2.0
output application/json
ns hot http://www.bookmyhotel.com/Hotel/
---
payload.body.hot#GetHotelById.HotelId as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="29415e97-c467-4f1c-9cba-00402bd73948" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from hotels where hotelId= :hotelId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	hotelId: vars.hotelId
}]]]></db:input-parameters>
		</db:select>
	</flow>
	<flow name="updateHotelsById" doc:id="9576a4bb-509d-402a-a9a5-4404a41d14b0" >
		<ee:transform doc:name="Transform Message" doc:id="69dd3d3c-7b8a-4ad6-b06f-e4c272943a4b" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns hot http://www.bookmyhotel.com/Hotel/
---
{
    hotelId: payload.body.hot#UpdateHotelById.PatchHotelBody.HotelId,
hotelName: payload.body.hot#UpdateHotelById.PatchHotelBody.HotelName,
rating: payload.body.hot#UpdateHotelById.PatchHotelBody.rating,
address: payload.body.hot#UpdateHotelById.PatchHotelBody.address
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="2d356552-83e9-40e7-8362-40ba56f889bf" config-ref="Database_Config">
			<db:sql ><![CDATA[update hotels set hotelName= :name,rating= :rate,address= :add where hotelId= :id

]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.hotelId,
	name: payload.hotelName,
	add: payload.address,
	rate: payload.rating
}]]]></db:input-parameters>
		</db:update>
	</flow>
	<flow name="deleteHotelsById" doc:id="2cf52d01-3c6b-49f1-9035-e0e931e649b4" >
		<ee:transform doc:name="Transform Message" doc:id="02f0b4ba-dda0-4bed-8639-292e7199b9d5" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="hotelId" ><![CDATA[%dw 2.0
output application/json
ns hot http://www.bookmyhotel.com/Hotel/
---
payload.body.hot#DeleteHotelById.HotelId as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:delete doc:name="Delete" doc:id="f8cd24e5-08b3-4015-a672-41bda90336da" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from hotels where hotelId= :hotelId
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	hotelId : vars.hotelId
}]]]></db:input-parameters>
		</db:delete>
	</flow>
	<flow name="getBookings" doc:id="0e8b14de-c5e9-4cd1-bf75-8d92e936faed" >
		<db:select doc:name="Select" doc:id="a6383a16-0817-48f7-837f-a4f585f64ac9" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from bookings]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="37e17f0a-0736-45d5-864e-0b5278ea0f01" message="Flow Ended"/>
	</flow>
	<flow name="postBookings" doc:id="d89aa23e-3644-4be9-995e-4ae27766bd28" >
		<ee:transform doc:name="Transform Message" doc:id="fed4da84-5a49-4b32-bf58-18072434b818" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/json
ns hot http://www.bookmyhotel.com/Hotel/
---
{
    startDate: payload.body.hot#PostBooking.booking.startDate,
    endDate: payload.body.hot#PostBooking.booking.endDate,
    amenities: payload.body.hot#PostBooking.booking.amenities,
    food: payload.body.hot#PostBooking.booking.food,
    room: payload.body.hot#PostBooking.booking.room,
    hotelName: payload.body.hot#PostBooking.booking.hotelName,
    location: payload.body.hot#PostBooking.booking.location
    }]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="9b870187-d782-497f-9613-e51ab04f51e6" config-ref="Database_Config">
			<db:sql ><![CDATA[select hotelId from hotels where hotelName= :hotelName and address= :location


]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	hotelName: vars.id.hotelName,
	location: vars.id.location
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload[0].hotelId]" doc:name="Set Variable" doc:id="a595e654-a865-4fd3-843c-b24e97460d27" variableName="isempty"/>
		<choice doc:name="Choice" doc:id="e1292c15-12c6-48ec-ae38-2335a4702684" >
			<when expression="#[vars.isempty == null]">
				<ee:transform doc:name="Transform Message" doc:id="f6efceaa-04b4-4f79-80ab-bfaa47b283d3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		"Message": "OOPS! It seems hotels are not available for "
    		++ vars.id.location as String ++ " location"
 }
    } write "application/xml"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<db:insert doc:name="Insert" doc:id="52282f2d-c687-424e-8292-b04e4f02dc1f" config-ref="Database_Config">
			<db:sql><![CDATA[INSERT INTO bookings 
(bookingStartDate, bookingEndDate, amenitiesSelected, food, room, hotelId)
VALUES (:startDate,:endDate,:amenities,:food,:room,:hotelId)

]]></db:sql>
					<db:input-parameters ><![CDATA[#[{
	
    startDate: vars.id.startDate,
    endDate: vars.id.endDate,
    amenities: vars.id.amenities,
    food: vars.id.food,
    room: vars.id.room,
    hotelId: vars.isempty
}]]]></db:input-parameters>
		</db:insert>
				<ee:transform doc:name="Transform Message" doc:id="b7de480c-32d4-4bda-a5fd-df03b882df12">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		"Message": "Your Booking is successful."
 }
    } write "application/xml"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getBookingsById" doc:id="319ca1e2-c531-4640-9a87-51d652aa87a6" >
		<ee:transform doc:name="Transform Message" doc:id="9082e754-072f-4496-bd65-091198bf5a68" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bookingId" ><![CDATA[%dw 2.0
output application/json
ns hot http://www.bookmyhotel.com/Hotel/
---
payload.body.hot#GetBookingById.bookingId as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="c9efd4c6-dc86-43c9-9599-4a660de32f49" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from bookings where bookingId= :bookingId
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	bookingId: vars.bookingId
}]]]></db:input-parameters>
		</db:select>
	</flow>
	<flow name="updateBookingById" doc:id="552a06a9-29d2-4fc1-bde6-7887fa19bccb" >
		<ee:transform doc:name="Transform Message" doc:id="960ef0f6-068e-4247-9e29-c3521dd34609" >
			<ee:message >
				<ee:set-payload ><![CDATA[output application/json
ns soap http://schemas.xmlsoap.org/soap/envelope/
ns hot http://www.bookmyhotel.com/Hotel/
---
{
    id: payload.body.hot#UpdateBookingById.bookingPatch.bookingId,
    sdate: payload.body.hot#UpdateBookingById.bookingPatch.startDate,
    edate: payload.body.hot#UpdateBookingById.bookingPatch.endDate,
    food: payload.body.hot#UpdateBookingById.bookingPatch.food,
    room: payload.body.hot#UpdateBookingById.bookingPatch.room
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="Update" doc:id="939b8354-4728-4834-856f-6cedc6c96852" config-ref="Database_Config">
			<db:sql ><![CDATA[
update bookings set bookingStartDate= :sdate, bookingEndDate= :edate, food= :food, room= :room where bookingID= :id
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id: payload.id,
	sdate: payload.sdate,
	edate: payload.edate,
	food: payload.food,
	room: payload.room
}]]]></db:input-parameters>
		</db:update>
	</flow>
	<flow name="deleteBookingById" doc:id="c24b8f8c-8273-482a-8ecd-e6bdb93721c2" >
		<ee:transform doc:name="Transform Message" doc:id="2b00cc12-e2b7-4ea2-92f1-d37993092fc7" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="bookingId" ><![CDATA[%dw 2.0
output application/java
ns hot http://www.bookmyhotel.com/Hotel/
---
payload.body.hot#DeleteBookingById.bookingId as Number]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:delete doc:name="Delete" doc:id="7b807cca-6b7a-4221-814b-11b2eff0956d" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from bookings where bookingID= :bookingId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	bookingId: vars.bookingId
}]]]></db:input-parameters>
		</db:delete>
	</flow>
</mule>
