src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="HotelSOAP" service="Hotel" wsdlLocation="bookMyHotel.wsdl"/>
    <flow name="api-main">
        <http:listener path="/Hotel/HotelSOAP" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:message>#[payload]</apikit-soap:message>
            <apikit-soap:attributes>#[
              %dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]</apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="GetHotels:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="23e4ea5a-e26c-416d-83f1-fa62836a9533" name="getHotels"/>
		<ee:transform doc:name="Transform Message" doc:id="63cbf2ed-3da4-4c4d-a2b8-d05062257a36" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Hotels: payload
 }
    } write "application/xml"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="PostHotel:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="00eb6742-7bb4-4338-9ece-0d5df472b7f0" name="postHotel"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		"Message": "Your Hotel has been added successfully."
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="GetHotelById:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="b75e820d-e6ad-47c5-b1b5-c52ef5425197" name="getHotelsById"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Hotels: payload
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="UpdateHotelById:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="b8b3ef7e-7443-45c8-8818-97ee3256821b" name="updateHotelsById"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Message: "Your Hotel has been updated Successfully."
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="DeleteHotelById:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="c206e152-ad33-4876-b7aa-8051285ae39f" name="deleteHotelsById"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Message: "Hotel has been Deleted Successfully."
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="GetBookings:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="fa61b679-4c15-46f6-b40e-14fd6f62e515" name="getBookings"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Bookings: payload
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="PostBooking:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="eacb0453-df14-4651-92bf-b16dd356c66c" name="postBookings"/>
    </flow>
    <flow name="GetBookingById:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="10b9ad97-9319-4904-8f9c-489a24d0d160" name="getBookingsById"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Bookings: payload
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="UpdateBookingById:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="e9d76f86-7c68-46e9-bd0a-30bd09efbece" name="updateBookingById"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Message: "Your booking has been updated Successfully."
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="DeleteBookingById:\soapkit-config">
        <flow-ref doc:name="Flow Reference" doc:id="8132b24e-dd5e-4122-a118-e275a9b396f5" name="deleteBookingById"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
ns soap http://schemas.xmlsoap.org/soap/envelope
---
{
    body: {
    	result: {
    		Message: "Your booking has been cancelled Successfully."
 }
    } write "application/xml"
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
